<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- not inheriting from base.html -->

    <div class="container">

        <form action="" method="post">

            {%csrf_token%}

            {%for field in form%}
            <div>
                <label for="">{{field.label_tag}}</label>
                {{field}}

                <!-- {{field}} - if we give only this, we get only input fields -->
            </div>
            {%endfor%}

            <button type="submit" href="{%url 'emp_profile'%}">Sign In</button>

        </form>

    </div>

</body>

</html>
