{%extends 'base.html'%}
{%block main_block%}


<div class="container">

    <a href="{%url 'emp_basic_info'%}" class="con_a">Back</a>

    <a href="{%url 'emp_p_info'%}" class="con_a">Personal Details</a>
    <a href="{%url 'emp_j_info'%}" class="con_a">Job Details</a>
    <a href="{%url 'emp_bac_info'%}" class="con_a">Bank Account Details</a>

    <h3> Employees' Complete Details</h3>


    <form class="col-2 mb-3" method="get">

        Filter by job: 

        <select name="job" onchange="this.for.submit()" class="form-select">

            <!-- <optiion value="" selected>Choose</optiion> -->

            <option value="all" {%if selected_job == "all"%} selected {%endif%}>All</option>
            
            {%for i in job_filter%}

            <option value="{{i}}" {%if i == selected_job%} selected {%endif%}>{{i}}</option>
        
            {%endfor%}

        </select><span><button type="submit">filter</button></span>


    </form>


    <table class="table table-stripped rounded border border-3 p-3">

        <tr>

            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
            <th>Photo</th>
            <th>Employee id</th>
            <th>Job</th>
            <th>Date of Birth</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Mob. Contry Code</th>
            <th>Phone</th>
            <th>Emergerncy Contact</th>
            <th>Email</th>
            <th>Address Line 1</th>
            <th>Adrees Line 2</th>
            <th>State</th>
            <th>City</th>
            <th>District</th>
            <th>Zip Code</th>


            <th>Interview Date & Time</th>
            <th>Join Date</th>
            <th>Min Charge</th>
            <th>Job - State</th>
            <th>Job - District</th>
            <th>Job - Taluk</th>
            <th>Job - Village</th>


            <th>Account Holder</th>
            <th>Account Number</th>
            <th>Bank Name</th>
            <th>Branch</th>
            <th>Swift Code</th>

            <th>Update</th>
            <th>Delete</th>
            


        </tr>

        {%for i in data%}

        <tr>

            <td>{{i.first_name}}</td>
            <td>{{i.last_name}}</td>
            <td>{{i.full_name}}</td>
            <td>
                {% if i.photo %}
                    <img src="{{i.photo.url}}" alt="" style="width: 100px; height: 150px;">
                {% endif %}    
            </td>
            <td>{{i.employee_id}}</td>
            <td>{{i.job}}</td>
            <td>{{i.date_of_birth}}</td>
            <td>{{i.age}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.country_code}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.emergency_contact}}</td>
            <td>{{i.email}}</td>
            <td>{{i.address_line_1}}</td>
            <td>{{i.address_line_2}}</td>
            <td>{{i.state}}</td>
            <td>{{i.city}}</td>
            <td>{{i.district}}</td>
            <td>{{i.zip_code}}</td>


            <td>{{i.interview_datetime}}</td>
            <td>{{i.join_date}}</td>
            <td>{{i.min_charge}}</td>
            <td>{{i.job_state}}</td>
            <td>{{i.job_district}}</td>
            <td>{{i.job_taluk}}</td>
            <td>{{i.job_village}}</td>



            <td>{{i.account_holder}}</td>
            <td>{{i.account_number}}</td>
            <td>{{i.bank_name}}</td>
            <td>{{i.branch}}</td>
            <td>{{i.swift_code}}</td>

            <td><a href="{%url 'emp_update_info' i.id%}" class="btn btn-outline-primary">Update</a></td>
            <td><a href="{%url 'emp_delete_info' i.id%}" class="btn btn-outline-primary">Delete</a></td>


        </tr>

        {%endfor%}


    </table>


</div>



{%endblock%}